body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background: skyblue;
    background: linear-gradient(0deg, skyblue 0%, rgba(255,255,255,1) 50%);
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    text-align: left;
    margin-top: 2em; 
  }
  
  h3 {
    font-size: 80px;
    text-align: left;
    margin-top: 2em; 
    
  }
  
  .button {
    background-color: #108690;
    border: none;
    margin: 10px;
    color: yellow;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }